dobot_bringup_v3/dobot_bringup_v3/__pycache__/__init__.cpython-310.pyc
dobot_bringup_v3/dobot_bringup_v3/__pycache__/dobot_api.cpython-310.pyc
dobot_bringup_v3/dobot_bringup_v3/__pycache__/dobot_bringup.cpython-310.pyc
dobot_bringup_v3/dobot_bringup_v3/__pycache__/feedback.cpython-310.pyc
dobot_moveit/dobot_moveit/__pycache__/__init__.cpython-310.pyc
dobot_moveit/dobot_moveit/__pycache__/action_move_server.cpython-310.pyc
dobot_moveit/dobot_moveit/__pycache__/joint_states.cpython-310.pyc
data/episode_0_rgb.mp4
data/episode_0.hdf5
.gitignore
data/episode_1_rgb.mp4
.gitignore
data/*

test_episode/test_episode_0.db3
playback_eval/evaluation_1.hdf5
playback_eval/evaluation_2.hdf5
.gitignore
playback_eval/evaluation_3.hdf5
.gitignore
playback_eval/evaluation_4.hdf5
dobot_demo/dobot_demo/convert/lerobot_dataset/README.md
dobot_demo/dobot_demo/convert/lerobot_dataset/data/chunk-000/episode_000000.parquet
dobot_demo/dobot_demo/convert/lerobot_dataset/data/chunk-000/episode_000001.parquet
dobot_demo/dobot_demo/convert/lerobot_dataset/data/chunk-000/episode_000002.parquet
dobot_demo/dobot_demo/convert/lerobot_dataset/meta/episodes.jsonl
dobot_demo/dobot_demo/convert/lerobot_dataset/meta/info.json
dobot_demo/dobot_demo/convert/lerobot_dataset/meta/tasks.jsonl
dobot_demo/dobot_demo/convert/lerobot_dataset/videos/chunk-000/observation.images.top/episode_000000.mp4
dobot_demo/dobot_demo/convert/lerobot_dataset/videos/chunk-000/observation.images.top/episode_000001.mp4
dobot_demo/dobot_demo/convert/lerobot_dataset/videos/chunk-000/observation.images.top/episode_000002.mp4
dobot_demo/dobot_demo/convert/data/episode_0.hdf5
dobot_demo/dobot_demo/convert/data/episode_1.hdf5
dobot_demo/dobot_demo/convert/data/episode_2.hdf5
dobot_demo/dobot_demo/convert/dataset_preview/episode_000_frame_000.jpg
dobot_demo/dobot_demo/convert/dataset_preview/episode_001_frame_000.jpg
dobot_demo/dobot_demo/convert/dataset_preview/episode_002_frame_000.jpg
dobot_demo/dobot_demo/convert/vla_dataset/.gitattributes
dobot_demo/dobot_demo/convert/vla_dataset/data/chunk-000/file-000.parquet
dobot_demo/dobot_demo/convert/vla_dataset/meta/info.json
dobot_demo/dobot_demo/convert/vla_dataset/meta/stats.json
dobot_demo/dobot_demo/convert/vla_dataset/meta/tasks.parquet
dobot_demo/dobot_demo/convert/vla_dataset/meta/episodes/chunk-000/file-000.parquet
dobot_demo/dobot_demo/convert/vla_dataset/videos/observation.image/chunk-000/file-000.mp4
dobot_demo/dobot_demo/convert/lerobot_dataset/*
dobot_demo/dobot_demo/convert/lerobot_dataset/videos/observation.images.top/chunk-000/episode_000000.mp4
dobot_demo/dobot_demo/convert/lerobot_dataset/videos/observation.images.top/chunk-000/episode_000001.mp4
dobot_demo/dobot_demo/convert/lerobot_dataset/videos/observation.images.top/chunk-000/episode_000002.mp4
评估.md
